/*
colour scheme
#e8dbcb
#e3b9b3
#613942
#839974
#36374b
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700');

body {
  font-family: 'Roboto Mono', monospace;
}

p {
  line-height: 1.7;
}

.bg-dark {
  background-color: #36374b!important;
}
.bg-light {
  background-color: #e3b9b3;
}
.bg-lighter {
  background-color: #e8dbcb;
}

/*-------------------------Input Styling------------------------*/

.form-input {
  padding: 15px;
}

.button-primary {
  color: #fff;
  background-color: #e3b9b3;
  border-color: #e3b9b3;
  padding: 15px;
}

.button-primary:link,
.button-primary:visited,
.button-primary:hover,
.button-primary:active,
.button-primary:not(:disabled):not(.disabled).active,
.button-primary:not(:disabled):not(.disabled):active,
.show>.button-primary.dropdown-toggle {
  color: #fff;
  background-color: #e3b9b3!important;
  border-color: #e3b9b3!important;
  box-shadow: 0 0 0 0.2rem rgba(227,185,179, 0.5);
}

.button-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(227,185,179, 0.5);
}


/*---------------Range Input--------------*/

input[type="range"][multiple] {
  display: block;
  height: 2em;
  margin: 0;
  pointer-events: none;
}
input[type="range"][multiple] + input[type="range"][multiple] {
  margin-top: -2em;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
}

input[type="range"]::-moz-range-thumb {
  pointer-events: all;
}

input[type="range"]::-ms-thumb {
  pointer-events: all;
}

.result-container {
  background: white;
  border-radius: 10px;
}

.col {
  max-width: 50%;
  margin-left: 10%;
}

img {
  width: 70%;
}

.description {
      margin-left: 10%;
}

